<template>
	<b-container fluid class='bv-example-row bv-example-row-flex-cols'>

		<b-row align-v='start'>
			<b-col align-self='center'>

				<b-card
						v-if='showTooltip'
						border-variant='success'
						align='center'
						class='mb-3'>
					<b-card-text>Swipe up if you know this card</b-card-text>
				</b-card>
			
			</b-col>
		</b-row>

		<!--
		<div style="display:flex;justify-content:center;align-items:center;">
			<div></div>
			v-bind:style='{ display: "flex", justifyContent: "center", alignItems: "center" }'
		</div> -->


		<b-row align-v='center'>
			<b-col align-self='center'>
				
				<!-- learn mode -->
				<b-card
						v-hammer:tap='onTap'
						v-hammer:press='onPress'
						v-hammer:swipe.vertical='onSwipe'
						:header='showMessage ? "Done" : cardsSet[indexArray[state.index]].cardQuestion'
						border-variant='dark'
						align='center'
						class='mb-3'>
					<b-card-text>{{ showMessage ? 'Good Job!' : cardsSet[indexArray[state.index]].cardAnswer }}</b-card-text>
				</b-card>

			</b-col>
		</b-row>


		<b-row align-v='end'>
			<b-col align-self='center'>
				
				<b-card
						v-if='showTooltip'
						border-variant='success'
						align='center'
						class='mb-3'>
					<b-card-text>Swipe down if you don't know this card</b-card-text>
				</b-card>

			</b-col>
		</b-row>


		<div class='row'>
			<div class='mx-auto'>

				<b-form-group>
					<b-form-radio-group
							id='btn-radios'
							v-model='selected'
							:options='options'
							buttons
							name='radios-btn-default'
							button-variant='outline-dark'
							size='sm'>
					</b-form-radio-group>
				</b-form-group>

			</div>
		</div>


	</b-container>
</template>

<script>
	import { mapGetters } from 'vuex'

	export default {
		name: 'CardComponent',
		components: { },
		data() {
			return {
				flixcardset: {},
				cardsSet: [],
				indexArray: [],
				showTooltip: false,
				showMessage: false,
				selected: 'learn',
				options: [
					{ text: 'learn', value: 'learn' },
					{ text: 'study', value: 'study', disabled: true },
					{ text: 'challenge', value: 'challenge', disabled: true }
				],
				state: {
					index: null,
					underprocess: [],
					loops: 0
				}
			}
		},
		methods: {
			...mapGetters(['getFlixcards']),
			cardNext() {
				this.showTooltip = false

				if (this.state.index === null || this.indexArray.length-1 == this.state.index) {
					this.state.index = 0
					this.state.loops += 1

				} else {
					this.state.index += 1
				}
			},
			learnedCard() {
				const cardLeft = this.indexArray.filter((card, i) => i !== this.state.index)

				if (cardLeft.length > 0) {
					this.indexArray = cardLeft
					this.cardNext()

				} else {
					this.showMessage = true
					this.indexArray = []
				}
			},
			repeatCard() {
				this.cardNext()
			},
			onSwipe(direction) {

				if (direction.type == 'swipeup') {
					this.learnedCard()

				} else if (direction.type == 'swipedown' && this.indexArray.length > 1) {
					this.repeatCard()
				}

			},
			onTap() {

				if (this.selected === 'learn') {
					this.cardNext()

				} /* else if (this.selected === 'study') {
					console.log('study')
					this.flipCard()
				} */
				// else if (this.selected === 'challenge' )
			},
			onPress() {
				this.showTooltip = true
			}
		},
		created() {
			// get the correct cards
			const findFlixcards = this.getFlixcards().filter(cards => this.$route.params.id == cards.id)[0]
			// this.flixcardset = Object.assign({}, this.getFlixcards().filter(cards => this.$route.params.id == cards.id)[0])

			// copy flixcard object
			this.flixcardset = findFlixcards

			// copy cards
			this.cardsSet = findFlixcards.flashcardset

			// create cards index array
			this.indexArray = Array.from({ length: this.cardsSet.length }, (_, i) => i)

			// get show the first card 
			this.cardNext()
		}
	};
</script>

<style scoped>

</style>
