<template>
	<div>
		<b-navbar type='light' variant='faded'>
			<b-navbar-brand to='/'>
				flIx
			</b-navbar-brand>

			<b-button v-b-toggle.sidebar variant='outline'>
				<b-icon icon='person'>Login</b-icon>
			</b-button>
		</b-navbar>

		<b-sidebar id='sidebar' title='flix' bg-variant='dark' text-variant='light' shadow>
			<div class='px-3 py-2'>
				<p>
					Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
				</p>
				<b-img src='https://picsum.photos/500/500/?image=54' fluid thumbnail></b-img>
			</div>
		</b-sidebar>
	</div>
</template>

<script>
	export default {
		name: 'HeaderComponent',
		components: { }
	};
</script>

<style scoped>

</style>