<template>
	<div>


		<b-card border-variant='dark' header='Dark' align='center'>
			<b-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b-card-text>
		</b-card>

		<hr>

		<ListComponent :list='getFlixcards' />


	</div>
</template>

<script>
	import ListComponent from './ListComponent'
	import { mapGetters } from 'vuex'

	export default {
		name: 'HomeComponent',
		components: {
			ListComponent
		},
		data() {
			return {
				
			}
		},
		computed: {
			...mapGetters(['getFlixcards'])
		},
		methods: { }
	};
</script>

<style scoped>

</style>
