<template>
	<b-list-group>
			<b-list-group-item
					v-for='item in list'
					:key='item.id'
					href='#'
					@click='showCards(item.id)'
					class='flex-column align-items-start'
					variant='dark'>

				<div class='d-flex w-100 justify-content-between'>
					<h5 class='mb-1'>{{ item.title }}</h5>
					<small>3 days ago</small>
				</div>

				<p class='mb-1'>
					{{ item.description }}
				</p>

				<small>{{ item.user }}</small>
			</b-list-group-item>

		<!--
			<b-list-group-item
					href='#'
					class='flex-column align-items-start'
					variant='dark'
					active>

				<div class='d-flex w-100 justify-content-between'>
					<h5 class='mb-1'>List group item heading</h5>
					<small class='text-muted'>3 days ago</small>
				</div>

				<p class='mb-1'>
					Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
				</p>

				<small class='text-muted'>Donec id elit non mi porta.</small>
			</b-list-group-item> -->
	</b-list-group>
</template>

<script>
	export default {
		name: 'ListComponent',
		props: {
			list: Array
		},
		methods: {
			showCards(id) {
				this.$router.push('/cards/' + id)
			}
		}
	};
</script>

<style scoped>

</style>
