<template>
	<div id='app'>
		<div class='container'>

			<HeaderComponent />

			<router-view></router-view>
		</div>
	</div>
</template>

<script>
	import HeaderComponent from './components/HeaderComponent'

	export default {
		name: 'App',
		components: {
			HeaderComponent
		}
	};
</script>

<style>
	#app { }
</style>
